
<!DOCTYPE html>
<html>
<head>
    <title>Leaflet debug page</title>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" /><![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.Default.ie.css" /><![endif]-->
    <script src="http://leaflet.github.io/Leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>
    <script src="http://leaflet.github.io/Leaflet.markercluster/example/realworld.388.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

</head>
<style type="text/css">
    body {
        padding: 0;
        margin: 0;
    }
    html, body, #map {
        height: 100%;
    }
</style>
<body>

    <div id="map"></div>
    <span>Mouse over a cluster to see the bounds of its children and click a cluster to zoom to those bounds</span>
    <script type="text/javascript">
        var range = '50';
        var tweets = {};

        var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/BC9A493B41014CAABB98F0471D759707/997/256/{z}/{x}/{y}.png',
            cloudmadeAttribution = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade, Points &copy 2012 LINZ',
            cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 17, attribution: cloudmadeAttribution});

        var map = new L.Map('map', {layers: [cloudmade]});

        map.locate({setView: true, maxZoom: 13});

        map.on('locationfound', function(e) {
            goGetEm();
        });

        map.on('moveend', function(e) {
            goGetEm();
        });

        function goGetEm() {
            var markers = new L.MarkerClusterGroup();

            $.get('http://localhost:5000/twitter/' + map.getCenter().lat + '/' + map.getCenter().lng + '/' + range + '?limit=2000', function(data) {

                if (data.tweets.length > 0) {
                    for (var i = 0; i < data.tweets.length; i++) {
                        var a = data.tweets[i];
                        if (tweets[a.tweet_id] != null) {

                            return;
                        }
                        else {
                            tweets[a.tweet_id] = a;
                            var title = a.text;
                            var marker = new L.Marker(new L.LatLng(a.geo.coordinates[0], a.geo.coordinates[1]), { title: title });
                            marker.bindPopup(title);
                            markers.addLayer(marker);
                        }
                    }

                    map.addLayer(markers);
                }
            });            
        }

    </script>
</body>
</html>
